/.vscode
/luna_docs.md
/output.json
/test_luna_fingerprinting.py

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Other directories
data/sessions/
binanapy.zip
CLAUDE.md

/test_outputs/
PICKM8.md
code_analysis_report.md
prepared_receptor_complete.csv
prepared_receptor_complete.sdf
prepared_receptor_complete.zip
GEMINI.md
